*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    color: #fff;
   
}

header {
    position: absolute;
    top: 2%;
    width: 100%;
    z-index: 1; 
}

header nav {
    display: flex;
    width: 76.6%;
    justify-content: space-between;
    margin: 35.02px auto 0;
}

ul {
    display: flex;
    list-style: none;
    letter-spacing: 1px;
    column-gap: 15px;
    margin-top: 1.98px;
     
}
ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    position: relative;
    background: url('./images/Object.png') no-repeat center center fixed;
    background-size: cover;
    height: 100dvh;
    width: 100dvw;
}

.center {
padding-top: 220px;
text-align: center;
width: 100%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
}

.center h1 {
    font-weight: 700;
    font-size: 120px;
}

.types {


}